@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --transition: all 400ms ease-in-out;
}
img {
  width: 100%;
  display: block;
}
body {
  font-family: "Montserrat", sans-serif;
}
.btn {
  font-size: 1rem;
  padding: 1rem;
  background: linear-gradient(
    to right top,
    rgba(82, 213, 52, 0.4),
    rgba(24, 106, 20, 0.4)
  );
  border: 1px solid transparent;
  height: 2.5rem;
  width: 8rem;
  border-radius: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: var(--transition);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
}
.btn:hover {
  border-color: white;
  background: transparent;
}
.btn-primary {
  margin-top: 1.5rem;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
}
.btn-primary:hover {
  transform: translateX(2px);
  box-shadow: -7px 7px 7px rgba(0, 0, 0, 0.3);
  border-color: rgba(214, 212, 212, 0.6);
}
/* END OF COMMON STYLES */
.main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/forest/forest-1.jpg);
  filter: blur(4px);
  background-position: center;
  background-size: cover;
  z-index: 1;
}
/* SWIPER JS */
.swiper-section {
  width: 70%;
  height: 70%;
  border: 3px solid #fff;
  z-index: 3;
  border-radius: 2rem;
}
.swiper-slide {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}
/* slide-1 */
.content-wrapper {
  background-image: url(../images/forest/forest-2.jpg);
  background-position: center;
  background-size: cover;
}
.content-text {
  position: relative;
  height: 100%;
  width: 100%;
}
.content-text h2 {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
  height: 100%;
  width: 50%;
  text-align: center;
  color: #fff;
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  mix-blend-mode: overlay;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
  padding-top: 4rem;
  padding-left: 5rem;
  border-top-left-radius: 1.8rem;
  border-bottom-left-radius: 1.8rem;
}
.content-text h1 {
  font-size: 4rem;
  position: absolute;
  top: 4rem;
  right: 9rem;
  color: white;
}
.content-description {
  position: absolute;
  left: 2rem;
  top: 12rem;
  color: white;
  width: 20rem;
  font-size: 0.7rem;
}
.content-description h1 {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.travel-journal {
  position: absolute;
  left: 2rem;
  top: 0.5rem;
  display: flex;
  align-items: center;
  color: white;
  gap: 0.8rem;
}
.travel-journal:hover i {
  cursor: pointer;
}
.read-more-btn {
  position: absolute;
  bottom: 4rem;
  left: 2rem;
}
.swiper-section [class^="swiper-button-"]::after {
  font-size: 1.5rem;
  background: rgba(27, 68, 24, 0.8);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 5rem;
  border-radius: 0.5rem;
}

.swiper-section .swiper-button-next,
.swiper-section .swiper-button-prev {
  position: absolute;
  right: 2rem;
  top: 23rem;
  width: 3rem;
}
.swiper-section .swiper-button-prev {
  left: 45rem;
}
/* slide 2 */
.slide-2 {
  padding: 1rem;
  background: linear-gradient(
    to right top,
    rgba(4, 20, 13, 0.5),
    rgba(11, 58, 37, 0.6)
  );
}
.slide-2-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 20rem;
}

.grid-container {
  border: 1px solid rgba(26, 104, 21, 0.4);
  height: 100%;
  padding: 1rem 0.5rem;
  border-radius: 1rem;
  color: #fff;
  width: 50%;
}
.slide-2 .left-section {
  background-image: url(../images/forest/forest-5.jpg);
  background-position: center;
  background-size: cover;
}
.sld2-readmore-btn {
  margin-top: 2rem;
}
.slide-2 .right-section {
  padding: 0.4rem;
}
.service {
  height: 5rem;
  margin-bottom: 0.6rem;
}

.service p,
.service h3 {
  font-size: 0.7rem;
}
.service h3 {
  width: 8rem;
  text-decoration: underline;
}
.service p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}
.ser-1 {
  display: flex;
  align-items: center;
}
.ser-1 img {
  width: 8rem;
  height: auto;
  border-radius: 10px;
  transition: var(--transition);
  margin-bottom: 0.5rem;
}
.ser-1 img:hover {
  transform: scale(1.05);
}
/* slide 3 */
.slide-3 {
  padding: 1rem;
  background: linear-gradient(
    50deg,
    rgba(4, 20, 13, 0.5),
    rgba(11, 58, 37, 0.6)
  );
  color: #fff;
  display: flex;
  align-items: center;
}
.slide-3-cont {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}
.slide-3 .left-section {
  width: 50%;
  height: 95%;
  border: 1px solid #fff;
  padding: 1rem;
  border-radius: 1rem;
}
.contact-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
label {
  font-size: 1rem;
  margin-bottom: 0.3rem;
}
input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 60%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
textarea {
  width: 100%;
  border-radius: 6px;
  padding: 0.3rem;
  margin-bottom: 1rem;
}
.slide-3 .right-section {
  width: 50%;
  height: 95%;
  border: 1px solid #fff;
  border-radius: 2rem;
  margin-left: 1rem;
  padding: 1rem;
}
.slide-3 .icons {
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-left: 1rem;
}
.slide-3 .right-section span {
  font-size: 0.7rem;
}
.method {
  width: 90%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  margin: 1rem 0;
  border-radius: 0.3rem;
  padding: 0.3rem;
  transition: var(--transition);
}
.method:hover {
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
}
.method-2 a {
  margin-left: 1rem;
}
.support h3 {
  font-size: 1rem;
}
.support p {
  font-size: 0.8;
}
/* slide 4 */
.slide-4 {
  padding: 1rem;
  background: linear-gradient(
    50deg,
    rgba(4, 20, 13, 0.5),
    rgba(11, 58, 37, 0.6)
  );
  color: white;

}
.packages{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;

}
.slide-4 h3{
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.package{
  width: 14rem;
  height: 19rem;
  border: 1px solid #6e6b6b;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 2rem;

}
.package img{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.package a,
.package p {
  margin-left: 1rem;
}
.areas p{
  margin-bottom: .3rem;
}
.package a{
  margin-top: 0.6rem;
}
.package span{
  color: #05fa4a;
}
.package-3{
  height: 15rem;
  width: 16rem;
  border-radius: 2rem;
}
.package-3 p{
  margin-top: 1rem;
  font-size: 0.9rem;
}
.swiper .swiper-pagination-bullet{
  background: #05fa4a;
}
.swiper .swiper-pagination-bullet:focus{
  width: 10px;
  height: 10px;
  border-radius: 50%;
}