* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root{
  --transition: all 400ms ease-in-out;
}
.btn {
  font-size: 1rem;
  padding: 1rem;
  background: linear-gradient(
    to right top,
    rgba(82, 213, 52, 0.4),
    rgba(24, 106, 20, 0.4)
  );
  border: 1px solid transparent;
  height: 2.5rem;
  width: 8rem;
  border-radius: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: var(--transition);
}
.btn:hover {
  border-color: white;
  background: transparent;
}
/* END OF COMMON STYLES */
.main{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.background-image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/forest-1.jpg);
  filter: blur(4px);
  background-position: center;
  background-size: cover;
  z-index: 1;
}
/* SWIPER JS */
.swiper-section{
  width: 70%;
  height: 70%;
  border: 3px solid #fff;
  z-index: 3;
  border-radius: 2rem;

}
.swiper-slide{
  width: 100%;
  height: 100%;
  background-color: red;
  border-radius: 2rem;
  /* padding: 2rem; */
 
}
.swiper-slide:nth-child(2){
  background-color: blue;
}
.swiper-slide:nth-child(3){
  background-color: yellow;
}
/* slide-1 */
.content-wrapper{
  background-image: url(../images/forest-2.jpg);
  background-position: center;
  background-size: cover;
}
.content-text{
  position: relative;
  height: 100%;
  width: 100%;
}
.content-text h2 {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
  height: 100%;
  width: 50%;
  text-align: center;
  color: #fff;
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  mix-blend-mode: overlay;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
  padding-top: 4rem;
  padding-left: 5rem;
  border-top-left-radius: 1.8rem;
  border-bottom-left-radius: 1.8rem;
}
.content-text h1 {
  font-size: 4rem;
  position: absolute;
  top: 4rem;
  right: 9rem;
  color: white;
}
.content-description {
  position: absolute;
  left: 2rem;
  top: 12rem;
  color: white;
  width: 20rem;
  font-size: 0.7rem;
}
.content-description h1 {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.travel-journal {
  position: absolute;
  left: 2rem;
  top: 0.5rem;
  display: flex;
  align-items: center;
  color: white;
  gap: 0.8rem;
}
.travel-journal:hover i {
  cursor: pointer;
}
.read-more-btn {
  position: absolute;
  bottom: 4rem;
  left: 2rem;
}
.swiper-section [class^="swiper-button-"]::after{
  font-size: 1.5rem;
  background: rgba(34, 97, 31, 0.6);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 4rem;
  border-radius: 4rem;
  /* position: absolute; */
}

.swiper-section .swiper-button-next,
.swiper-section .swiper-button-prev{
  position: absolute;
  right: 2rem;
  top: 23rem;
}
.swiper-section .swiper-button-prev{
  left:45rem ;
}